stages:
  - test
  - deploy

variables:
  # Используем текущую ветку GitLab для push в GitHub
  GITHUB_BRANCH: $CI_COMMIT_BRANCH
  GITHUB_REPO: github.com/Felix-neko/architecture-future_2_0.git

hello_world:
  stage: test
  image: alpine:latest
  script:
    - "echo Hello from GitLab CI/CD"
    - "echo Branch: $CI_COMMIT_BRANCH"
    - "echo Commit: $CI_COMMIT_SHA"

terraform_validate:
  stage: test
  image:
    name: hashicorp/terraform:latest
    # Переопределяем entrypoint, т.к. образ terraform имеет entrypoint "terraform"
    entrypoint: [""]
  script:
    - "cd task_1_terraform_module/terraform/vm_module"
    - "terraform init -backend=false"
    - "terraform validate"
  allow_failure: true

push_to_github:
  stage: deploy
  image: alpine:latest
  variables:
    GIT_STRATEGY: clone
  before_script:
    - apk add --no-cache git
  script:
    - test -n "$GITHUB_TOKEN" || exit 1
    - git config --global user.email gitlab-ci@local
    - git config --global user.name GitLab-CI
    - git remote add github https://x-access-token:${GITHUB_TOKEN}@${GITHUB_REPO} || true
    - git push github HEAD:${GITHUB_BRANCH} --force
  needs:
    - hello_world
