stages:
  - test
  - deploy

variables:
  GITHUB_BRANCH: main
  GITHUB_REPO: github.com/Felix-neko/architecture-future_2_0.git

hello_world:
  stage: test
  image: alpine:latest
  script:
    - "echo Hello from GitLab CI/CD"
    - "echo Branch: $CI_COMMIT_BRANCH"
    - "echo Commit: $CI_COMMIT_SHA"

terraform_validate:
  stage: test
  image: hashicorp/terraform:latest
  script:
    - "cd task_1_terraform_module/terraform/vm_module"
    - "terraform init -backend=false"
    - "terraform validate"
  allow_failure: true

push_to_github:
  stage: deploy
  image: alpine/git:latest
  variables:
    GIT_STRATEGY: clone
  script:
    - "test -n \"$GITHUB_TOKEN\" || { echo GITHUB_TOKEN not set; exit 1; }"
    - "git config --global user.email gitlab-ci@local"
    - "git config --global user.name GitLab-CI"
    - "git remote add github https://x-access-token:${GITHUB_TOKEN}@${GITHUB_REPO} || git remote set-url github https://x-access-token:${GITHUB_TOKEN}@${GITHUB_REPO}"
    - "git push github HEAD:${GITHUB_BRANCH} --force"
  needs:
    - hello_world
